<div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6" style="height: 700px; background: #f5deb3;">
    <p class="m-0">メイン</p>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="col-sm-12 col-md-6 col-lg-12 mb-3" style="height: 350px; background: #87cefa;">
      <p class="m-0">カフェ</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-12" style="height: 350px; background: #90ee90;">
      <p class="m-0">宿</p>
    </div>
  </div>
  </div>
</div>

<!--<h1>投稿一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">タイトル</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each.with_index(1) do |post, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= post.title %></td>
        <td><%= link_to "詳細", post %></td>
        <td><%= link_to "編集", edit_post_path(post) %></td>
        <td><%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->